@model List<Eletrodomestico>

<h1>Lista de Eletrodomesticos</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Consumo</th>
            <th>Detalhes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eletrodomestico in Model)
        {
            <tr>
                <td>@eletrodomestico.Marca</td>
                <td>@eletrodomestico.Modelo</td>
                <td>@eletrodomestico.ConsumoEnergetico</td>
                <td>
                    @if (eletrodomestico is Geladeira)
                    {
                        <strong>Capacidade:</strong> @(((Geladeira)eletrodomestico).CapacidadeLitros)  <br />
                        <strong>Tem Freezer:</strong> @(((Geladeira)eletrodomestico).TemFreezer ? "Sim" : "Não")
                    }
                    else if (eletrodomestico is Televisor)
                    {
                        <strong>Polegada:</strong> @(((Televisor)eletrodomestico).TamanhoTela)  <br />
                        <strong>É Smart:</strong> @(((Televisor)eletrodomestico).EhSmart? "Sim" : "Não")
                    }
                </td>
            </tr>
        }
    </tbody>
</table>